.post_topic_form {
  display: flex;
  flex-direction: column;
  margin-top: 1em 0 1em 0;
  padding: 1%;
  border-radius: 5px;
  color: #353535;
  border-style: solid;
  border-color: #353535;
  background: #b3c2f2;
}


.topic_input_block {
display: flex;
justify-content: space-between;
}

.topic_name_input {
  width: 50%;
  padding: 4px;
  margin: 0 0 0 0;
  display: inline-block;
  border: solid #353535;
  border-radius: 4px;
  box-sizing: border-box;
  font-size:1em;
}
.topic_input {
  width: 90%;
  padding: 4px;
  margin: 0 0 0 0;
  display: inline-block;
  border: solid #353535;
  border-radius: 4px;
  box-sizing: border-box;
  font-size:1em;
}

@media only screen and (max-width: 600px){
  .topic_input {
    width: 80%;
    padding: 4px;
    margin: 0;
    display: inline-block;
    border: solid #353535;
    border-radius: 4px;
    box-sizing: border-box;
  }}

.submit_topic_button {
  border: none;
  background: #353535;
  color: #b3c2f2;
  border-radius: 5px;
  margin-top: 0.5em;
  font-size: 1em;
}
