.full_article_tile {
  border-bottom: solid;
  border-bottom-color: #353535;
  margin-bottom: 0;
  padding: 1em;
  margin-right: 10px;
  margin-left: 10px;
  background-color: white;
  color: #353535;
}

.article_topic {
  border: none;
  font-size: 1em;
  padding: 0;
  font-weight: bold;
  background: none;
}

.article_subheading {
  margin-top: 0;
}

.article_title {
  margin-bottom: 0;
  margin-top: 0;
  color: #353535;
  font-size: 2.5em;
}

.delete_article {
  border: none;
  text-decoration: underline;
}

.voting_button {
  border: none;
  font-size: 0.7em;
  background: none;
}

.user_button {
  border: none;
  font-size: 1em;
  padding: 0;
  font-weight: bold;
}

.you_name_replacement {
  font-weight: bold;
}
