.App-header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  align-items: center;
  background-color: #b3c2f2;
}

.NC-logo {
  display: flex;
  align-items: center;
  margin: 0;
}

.NC-logo-button {
  font-size: 1em;
  background: #b3c2f2;
  border: none;
  text-decoration: none,
}
